


th, td {
  padding: 1px;
  
  text-align: left;
  border-bottom: 5px solid #ddd;
}
th{
	column-width: 140px;
	
}
tr:hover {background-color:#ff0080;}
div.scrollWrapper{

  height:450px;
  width:750px;
  overflow:scroll;
}


@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans');

:root {
  --color-primary: hsl(203, 100%, 38%);
  --color-text:  hsl(203, 30%, 15%);
  --color-background: hsl(203, 100%, 98%);
  --color-border: hsl(203, 33%, 83%);;
  --color-white: #fff;
}

body {
  font-family: 'PT Sans', sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
  font-size: 1rem;
}

table {
  background-color: var(--color-white);
  width: 100%;
  border-radius: 6px;
  border-collapse: collapse;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2rem;
  box-shadow: 0 2px 10px rgba(0, 67, 115, 0.2);
  margin-rigth:80px; 
  
}


.btn {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--color-primary) inset;
  text-align: center;
  color: var(--color-primary);
  display: inline-block;
  margin: 0;
  padding: 8px 16px;
  font-size: 0.75rem;
  position: relative;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}

